// $gray: #27282d;
$gray: #3e4555;
$medium-gray: lighten(#27282d, 25%);
$light-gray: lighten(#27282d, 65%);
$gradient: linear-gradient(
  to right top,
  #58dbff,
  #00bbff,
  #0097ff,
  #006cff,
  #122feb
);

.color-nav {
  // background-color: rgb(176, 22, 190);
  background-color: $gray;
  position: top;
}