$gray: #282c34;
$medium-gray: lighten(#27282d, 25%);
$light-gray: lighten(#27282d, 65%);
$gradient: linear-gradient(
  to right top,
  #58dbff,
  #00bbff,
  #0097ff,
  #006cff,
  #122feb
);
.color-nav {
  background-color: $gray;
  position: top;
}

footer {
  left: 0;
  bottom: 0;
  right: 0;
  position: relative;
  background-color: $gray;
  text-align: center;
  color: $medium-gray;
}
footer p {
  color: $light-gray;
}

footer a {
  display: inline-block;
  margin: 0;
  text-decoration: underline;
}

footer ul li a:hover {
  color: #0097ff;
}
footer ul li a {
  color: $light-gray;
}

footer ul {
  list-style: none;
  margin-top: 2em;
}
footer ul li {
  text-align: left;
  margin: 0;
  padding: 0;
}

.dropdown-menu {
  background-color: #ff0000;
}
