$gray: #282c34;
$medium-gray: lighten(#27282d, 25%);
$light-gray: lighten(#27282d, 65%);
$gradient: linear-gradient(
  to right top,
  #58dbff,
  #00bbff,
  #0097ff,
  #006cff,
  #122feb
);

.login-App {
  padding-bottom: 10px;
  background: $gray;
  height: 340px;
  width: 520px;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0px 4px 30px -5px rgba(0, 0, 0, 0.65);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.register-App {
  background: $gray;
  height: 420px;
  width: 520px;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0px 4px 30px -5px rgba(0, 0, 0, 0.65);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-container {
  position: relative;
  margin-bottom: 30px;
  width: 340px;
}
.input-container-two {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-bottom: 30px;
  width: 340px;
}
.input-width {
  width: 10;
}

input,
button {
  font-family: "Dosis", sans-serif;
  letter-spacing: 1.3px;
}
.inputw {
  width: 70%;
  padding: 12px 6px 12px 10px;
}
.inputw2 {
  width: 100%;
  padding: 12px 6px 12px 10px;
}
.divp {
  padding-bottom: 20px;
}

input {
  box-sizing: border-box;
  background: transparent;
  width: 100%;
  border: none;
  border-bottom: 1px solid $medium-gray;
  color: $light-gray;
  padding: 12px 6px 12px 36px;
  font-size: 19px;
  outline: none;
  caret-color: rgb(91, 213, 229);
}

input:focus {
  border-bottom: 1px solid transparent;
  border-image: $gradient;
  border-image-slice: 1;
}

input:focus + i {
  color: $light-gray;
}
i {
  color: $medium-gray;
  position: absolute;
  left: 6px;
  top: 50%;
  transform: translateY(-50%);
  transition: color 0.3s;
}
.alink {
  text-decoration: none;
  color: $medium-gray;
}

h2 {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  margin: 40px 8px 10px 8px;
  color: #fafafa;
}

h2.inactive {
  color: $medium-gray;
}

h2.active {
  background: $gradient;
  text-transform: uppercase;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 2px solid transparent;
  border-image: $gradient;
  border-image-slice: 1;
}

.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background: $gradient;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  background: $gradient;
  text-transform: uppercase;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.underlineHover:hover:after {
  width: 100%;
}

*:focus {
  outline: none;
}

.h2 {
  background: $gradient;
  text-transform: uppercase;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btnn {
  padding: 6px 26px;
  font-size: 16px;
  border: 2px solid $medium-gray;
  position: relative;
  color: $medium-gray;
  border-radius: 30px;
  background: $gray;
}

.btnn:hover {
  color: lighten($medium-gray, 10%);
  border: 2px solid lighten($medium-gray, 10%);
}
.sbtn {
  padding: 1.5px 10px;
  font-size: 14px;
  border: 2px solid $medium-gray;
  position: relative;
  color: $medium-gray;
  border-radius: 30px;
  background: $gray;
}

.sbtn:hover {
  // background: $medium-gray;
  color: lighten($medium-gray, 10%);
  border: 2px solid lighten($medium-gray, 10%);
}

.pmessage {
  background: $gradient;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  border-image: $gradient;
  font-size: 16px;
  margin: -20px 8px 0px 8px;
}

footer .container {
  margin-top: 0;
}
